<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 fixed-top">
  <a class="navbar-brand text-danger fw-bold" href="#">NETFLIX</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse gap-3" id="navbarNav">
    <ul class="nav ">
      
  <li *ngFor="let cat of categories" class="nav-item">

    <a [routerLink]="['/category', cat]" class="nav-link text-white">
      {{ cat }}
    </a>
  </li>
</ul>

    <div class="d-flex align-items-center gap-3" style="margin-left: auto; display: flex; gap: 1rem;">
      <a href=""><i class="bi bi-search fs-5 text-white cursor-pointer"></i></a>
      <span class="text-white">Kids</span>
      <i class="bi bi-bell fs-5 text-white cursor-pointer"></i>
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" width="32" height="32" class="rounded" alt="avatar" />
    </div>
  </div>
</nav>

