<app-navbar></app-navbar>
<!-- <section class="hero-section position-relative text-white" style="background-image: url('https://image.tmdb.org/t/p/original/your-banner.jpg'); background-size: cover; background-position: center; height: 100vh;">
  <div class="overlay position-absolute top-0 start-0 w-100 h-100" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);"></div>

  <div class="container h-100 position-relative d-flex align-items-center">
    <div class="hero-content">
      <h1 class="display-3 fw-bold mb-3">Stranger Things</h1>
      <p class="lead mb-4">New Season streaming now</p>
      <button class="btn btn-light btn-lg fw-bold px-4">
        <i class="bi bi-play-fill me-2"></i>Play
      </button>
    </div>
  </div> -->
<!-- </section> -->
<video
  #videoPlayer
  [src]="videoUrl"
  [poster]="posterUrl"
  muted
  playsinline
  (mouseenter)="playVideo(videoPlayer)"
  (mouseleave)="resetVideo(videoPlayer)"
  class="video-preview"
></video>


<!-- <app-movie-slider (movieClicked)="openMovieModal($event)"></app-movie-slider> -->







<!-- <app-movie-slider (openModal)="openMovieModal()"></app-movie-slider> -->
  <app-netflix-model
    *ngIf="isModalOpen && selectedMovie"

    (closeModal)="closeMovieModal()">
  </app-netflix-model>
   <!-- [isVisible]="isModalOpen" -->
     <!-- [isVisible]="selectedMovie !==null" -->
<!-- <p>model open {{isModalOpen}}</p> -->

<!-- <p>model open {{isModalOpen}}</p>
<p>model open {{isModalOpen}}</p>


<!-- ++++++++++++++++++++++++++++++++++++++++++ -->









<app-movie-slider
  [title]="'Top 10'"
  [categoryName]="'Top 10'"
  [showRank]="true">
</app-movie-slider>




<div *ngFor="let category of data">
  <div *ngIf="category.videos.length > 0">
    <app-movie-slider
      [title]="'Top '+category.name+' Movies'"
      [categoryName]="category.name"
    ></app-movie-slider>

  </div>

</div>



