# ========== Backend: ASP.NET Core (.NET) ==========
netflix.api/netflix.api/bin/
netflix.api/netflix.api/obj/
netflix.api/netflix.api/*.db
netflix.api/netflix.api/*.user
netflix.api/netflix.api/*.suo
netflix.api/netflix.api/appsettings.Development.json
netflix.api/netflix.api/.env
**/.vs/
netflix.api/.vs


# ========== Frontend: Angular ==========
netflix/node_modules/
netflix/dist/
netflix/.angular/
netflix/.env

# ========== General ==========
*.log
.DS_Store
Thumbs.db
.env

# ========== IDE/Editor Specific ==========
.vscode/
.idea/
*.sln
