<div class="netflix-banner">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-end">
      <div class="col-md-6 text-end text-content text-center">
        <h1 class="banner-title mb-4">Looking for company assets?</h1>
        <p class="banner-subtitle mb-4">
          Get more images and information about Netflix on our company site.
        </p>
        <button class="btn btn-outline-light btn-lg netflix-btn">
          Go to About Netflix
        </button>
      </div>
    </div>
  </div>
</div>
