.table-img {
  width: 100px;
  height: 120px;
  object-fit: contain;
  background-color: #000;
}

.table-row-link {
  cursor: pointer;
  transition: background-color 0.2s;
}

.table-row-link:hover {
  background-color: #333 !important;
}
